<!-- <nav class="navbar">

    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/" class="item-link">Categories</a>
      </li>
      <li class="menu-item">
        <a routerLink="/" class="item-link">Subscriptions</a>
      </li>
      <li class="menu-item">
        <a routerLink="/" class="item-link">Obligatory</a>
      </li>
      <li class="menu-item">
        <a routerLink="/" class="item-link">Statistic</a>
      </li>
      <li class="menu-item"><a routerLink="/" class="item-link">Admin</a></li>
    </ul>

    <div class="account">
      <img src="../../../../assets/images/user.png" class="account-image"/>
      <p class="account-name">Maksim Verenich</p>
    </div>
  </nav> -->