<div class="transaction-create">
  <form (ngSubmit)="onSubmit()"  [formGroup]="transactionForm">
    <h2 class="transaction-title">Create Transaction</h2>

    <mat-form-field>
      <mat-label>Transaction type</mat-label>
      <mat-select formControlName="type">
        <mat-option value="income">Income</mat-option>
        <mat-option value="expense">Expense</mat-option>
      </mat-select>
    </mat-form-field>
    @if (typeValidation().isError) {
      <span class="help-block">{{typeValidation().message}}</span>
    }

    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    @if (titleValidation().isError) {
      <span class="help-block">{{titleValidation().message}}</span>
    }

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Category</mat-label>
      <mat-select [formControl]="toppings" multiple>
        @for (topping of toppingList; track topping) {
        <mat-option [value]="topping">{{ topping }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <!-- @if (categoryValidation().isError) {
      <span class="help-block">{{categoryValidation().message}}</span>
    } -->

    <mat-form-field>
      <mat-label>Amount</mat-label>
      <input matInput type="number" formControlName="amount"/>
    </mat-form-field>
    @if (amountValidation().isError) {
      <span class="help-block">{{amountValidation().message}}</span>
    }

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
    </mat-form-field>

    <div class="buttons">
      @if (false) {
        <button mat-flat-button color="warn">Delete</button>
        <button mat-flat-button>Edit</button>
      }
      <button class="save" mat-flat-button color="primary" >Save</button>
      <button class="cencel" mat-flat-button color="primary">Cancel</button>
    </div>
  </form>
</div>
<a href="/main" class="black-bg"></a>
