<div class="login">
  <div class="container">
    <form>
      <h1>Budgetify</h1>

      <div class="form-field">
        <label for="email" class="label" >Email</label>
        <input type="email" id="email" appUp class="input" />
      </div>
      <div class="form-field">
        <label for="password" class="label" >Password</label>
        <input type="password" id="password" appUp class="input" />
      </div>
      <div class="form-field">
        <input type="button" id="btn" class="btn" value="Button" />
      </div>
    </form>
  </div>
</div>
