<div class="transactions">
  <ul class="menu">
    <li class="menu-item">
      <a routerLink="/" class="item-link active">Categories</a>
    </li>
    <li class="menu-item">
      <a routerLink="/" class="item-link">Subscriptions</a>
    </li>
    <li class="menu-item">
      <a routerLink="/" class="item-link">Obligatory</a>
    </li>
    <li class="menu-item">
      <a routerLink="/" class="item-link">Statistic</a>
    </li>
    <li class="menu-item"><a routerLink="/" class="item-link">Admin</a></li>
  </ul>

  <div class="search-field">
    <input type="text" placeholder="Search">
    <img src="../../../../assets/images/search.png" alt="">
  </div>

  <div class="sorting">
    <img src="../../../../assets/images/icon-sort-18 1.png" alt="">
    <span>Transaction date</span>
  </div>

  <div class="transaction-cards">
    <div class="transaction-card">
        <button class="btn card-left">Home</button>
        <div class="card-center">
            <h4>Flat rent for March</h4>
            <div class="card-time">
                <span class="circle red">
                    <img src="../../../../assets/images/Arrow-top.svg" alt="">
                </span>
                <p>Expenses  ·  28.02.2022  ·  John Smith</p>
            </div>
        </div>
        <span class="price red">-650.00$</span>
    </div>
    <div class="transaction-card">
        <button class="btn card-left">Home</button>
        <div class="card-center">
            <h4>Salary for February</h4>
            <div class="card-time">
                <span class="circle yellow">
                    <img src="../../../../assets/images/Arrow-bottom.svg" alt="">
                </span>
                <p>Income  ·  27.02.2022  ·  John Smith</p>
            </div>
        </div>
        <span class="price yellow">650.00$</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>