<div class="transactions">
  <ul class="menu">
    <li class="menu-item">
      <a routerLink="/" class="item-link active">Categories</a>
    </li>
    <li class="menu-item">
      <a routerLink="/" class="item-link">Subscriptions</a>
    </li>
    <li class="menu-item">
      <a routerLink="/" class="item-link">Obligatory</a>
    </li>
    <li class="menu-item">
      <a routerLink="/" class="item-link">Statistic</a>
    </li>
    <li class="menu-item"><a routerLink="/" class="item-link">Admin</a></li>
  </ul>

  <div class="search-field">
    <input type="text" placeholder="Search">
    <img src="../../../../assets/images/search.png" alt="">
  </div>

  <div class="sorting">
    <div class="trans_date" (click)="defaultSort()">
      <img src="../../../../assets/images/icon-sort-18 1.png" alt="">
      <span class='date'>Transaction date</span>
    </div>
    <div (click)="onSorted('expense')" class="filter_by expense">
      <span
          class="circle red">
          <img src="../../../../assets/images/Arrow-top.svg" alt="">
      </span>
      <span>Expense</span>
    </div>

    <div (click)="onSorted('income')" class="filter_by income">
      <span
        class="circle yellow">
        <img src="../../../../assets/images/Arrow-bottom.svg" alt="">
      </span>
      <span>Income</span>
    </div>

  </div>

  <div class="transaction-cards">
    @if (transactions.length >= 0) {
      @for (transaction of transactions; track $index) {
        <div class="transaction-card">
            <button class="btn card-left">{{transaction.categories[0] || 'Home'}}</button>
            <div class="card-center">
                <h4>{{transaction.title}}</h4>
                <div class="card-time">
                    <span
                      [ngClass]="{'red': transaction.type === 'expense', 'yellow': transaction.type === 'income'}"
                      class="circle red">
                        @if (transaction.type === 'expense') {
                          <img src="../../../../assets/images/Arrow-top.svg" alt="">
                        } @else {
                          <img src="../../../../assets/images/Arrow-bottom.svg" alt="">
                        }
                    </span>
                    <p>{{transaction.type | uppercase}}  · {{transaction.createdAt | date : 'shortDate'}} · {{account.title}}</p>
                </div>
            </div>
            <span
              [ngClass]="{'red': transaction.type === 'expense', 'yellow': transaction.type === 'income'}"
              class="price red">{{transaction.amount}}{{account.sign}}</span>
        </div>
      }
    } @else {
      <h1>You don't have any transactions. Please, add a transaction</h1>
    }
  </div>
</div>
<router-outlet></router-outlet>
