.search-field {
  width: 100%;
  height: 55px;
  border-radius: 10px;
  background: #f9f9f9;
  position: relative;

  input {
    width: 100%;
    height: 100%;
    padding: 0 50px;
    color: #474747;
    font-size: 18px;
    border: none;
    border-radius: 10px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #474747;
      font-size: 18px;
    }
  }

  img {
    position: absolute;
    top: 14px;
    left: 18px;
  }
}

@media (max-width: 570px) {
  .search-field {
    height: 40px;

    input {
      font-size: 15px;

      &::placeholder {
        font-size: 15px;
      }
    }

    img {
      top: 13px;
      left: 15px;
      width: 15px;
    }
  }
}
