<div class="settings">
  <div class="account">
    <img src="../../../../assets/images/user.png" class="account-image" />
    <p class="account-name">Maksim Verenich</p>
  </div>

  <div class="settings">
    <div class="settings-cards">
      <div class="card">
        <span class="circle yellow">
          <img src="../../../../assets/images/Arrow-bottom.svg" alt="" />
        </span>
        <p>Income</p>
      </div>
      <div class="card">
        <span class="circle red">
          <img src="../../../../assets/images/Arrow-top.svg" alt="" />
        </span>
        <p>Expenses</p>
      </div>
      <a routerLink="/main/transaction-create" class="card light-blue" >
        <span class="circle white"> + </span>
        <p>Add Transaction</p>
      </a>
      <div class="card light-blue">
        <span class="circle white"> + </span>
        <p>Add Account</p>
      </div>
    </div>

    <div class="settings-bottom">
      <div class="card light-blue">
        <span class="circle white">
            <img src="../../../../assets/images/pig.png" alt="">
        </span>
        <p>Add Piggy Bank</p>
      </div>
    </div>
  </div>
</div>
