.settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 235px;
}
.settings-cards, .settings-bottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .card {
    display: flex;
    align-items: center;
    gap: 7px;

    height: 49px;
    border-radius: 10px;
    background: #f9f9f9;
    padding: 6px 11px 8px;

    span {
      color: #86c9cf;
      font-size: 40px;
    }
    p {
      color: #373737;
      font-family: Space Grotesk;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      margin: 0;
    }
  }
}

.settings-bottom {
  margin-top: 200px;
}
