<div class="create-account">
  <form [formGroup]="createForm" (submit)="onSubmit()">
    <div class="form-header">
      @if(editMode) {
        <h2>Edit Account</h2>
      } @else {
        <h2>Create Account</h2>
      }
      <img
        (click)="close()"
        src="../../../../assets/images/OOjs_UI_icon_close-ltr 1.png"
        alt=""
        class="close"
      />
    </div>

    <div class="form-field">
      <label for="title" class="label">Title</label>
      <input
        type="title"
        formControlName="title"
        id="title"
        appUp
        class="input"
      />
    </div>
    @if( createForm.controls['title'].errors?.['required'] &&
    createForm.get('title')?.touched ) {

    <span class="help-block">Required file is empty</span>

    } @else if(createForm.controls['title'].errors?.['pattern'] &&
    createForm.get('title')?.touched ){

    <span class="help-block">Please enter a valid Title</span>

    }
    <div class="form-field">
      <label for="balance" class="label">Balance</label>
      <input
        type="number"
        formControlName="balance"
        id="balance"
        appUp
        class="input"
      />
    </div>
    @if( createForm.controls['balance'].errors?.['required'] &&
    createForm.get('balance')?.touched ) {

    <span class="help-block">Required file is empty</span>

    } @else if(createForm.controls['balance'].errors?.['pattern'] &&
    createForm.get('balance')?.touched ){

    <span class="help-block">Please enter a valid Balance</span>

    }
    <div class="form-field">
      <select
        name="currency"
        formControlName="currency"
        id="currency"
        class="input"
      >
        @for(currency of currencies; track currency.name) {
        <option [ngValue]="currency.name">{{ currency.name }}</option>
        }
      </select>
    </div>
    <div class="form-field">
      <label for="description" class="label">Currency</label>
      <textarea
        id="description"
        formControlName="description"
        class="input"
        maxlength="256"
        rows="5"
        appUp
      ></textarea>
    </div>
    <div class="form-field">
      <input
        type="submit"
        [disabled]="createForm.invalid"
        class="btn"
        value="Save"
      />
    </div>
    <div class="form-field">
      <input type="button" class="btn btn-cancel" value="Cancel" />
    </div>
  </form>
</div>
<div class="black-bg" (click)="close()"></div>
