<div class="container">
  <div class="row">
    <a routerLink="/main" class="logo">Budgetify</a>

    <ul class="menu">
      <li class="menu-item">
        <a routerLink="/categories" routerLinkActive="active" class="item-link">Categories</a>
      </li>
      <!-- <li class="menu-item">
        <a routerLink="/" class="item-link">Subscriptions</a>
      </li>
      <li class="menu-item">
        <a routerLink="/" class="item-link">Obligatory</a>
      </li> -->
      <li class="menu-item">
        <a (click)="toStatistic()" routerLinkActive="active" class="item-link">Statistic</a>
      </li>
      <!-- <li class="menu-item"><a routerLink="/" class="item-link">Admin</a></li> -->
    </ul>

    <div class="account">
      <img src="../../../../assets/images/user.png" class="account-image" />
      <p class="account-name">Maksim Verenich</p>
    </div>
    <ng-container style="width: 235px;">
      <button mat-icon-button class="mat-icon_btn">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
