<div class="create-account">
  <form [formGroup]="createForm" (submit)="onSubmit()">
    <div class="form-header">
      @if(editMode) {
      <h2>Edit Account</h2>
      } @else {
      <h2>Create Account</h2>
      }
      <img
        (click)="close()"
        src="../../../../assets/images/OOjs_UI_icon_close-ltr 1.png"
        alt=""
        class="close"
      />
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput />
    </mat-form-field>
    @if( createForm.controls['title'].errors?.['required'] &&
    createForm.get('title')?.touched ) {

    <span class="help-block">Required file is empty</span>

    } @else if(createForm.controls['title'].errors?.['pattern'] &&
    createForm.get('title')?.touched ){

    <span class="help-block">Please enter a valid Title</span>

    }
    <mat-form-field appearance="outline">
      <mat-label>Balance</mat-label>
      <input formControlName="balance" matInput />
    </mat-form-field>
    @if( createForm.controls['balance'].errors?.['required'] &&
    createForm.get('balance')?.touched ) {

    <span class="help-block">Required file is empty</span>

    } @else if(createForm.controls['balance'].errors?.['pattern'] &&
    createForm.get('balance')?.touched ){

    <span class="help-block">Please enter a valid Balance</span>

    }
    <mat-form-field appearance="outline">
      <mat-label>Currency</mat-label>
      <mat-select formControlName="currency">
        @for (currency of currencies; track currency.code) {
          <mat-option [value]="currency.code">{{ currency.code }}, {{ currency.sign }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                formControlName="description"
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                ></textarea>
    </mat-form-field>

    <div class="form-field">
      <input
        type="submit"
        [disabled]="createForm.invalid"
        class="btn"
        value="Save"
      />
    </div>
    <div class="form-field">
      <input type="button" class="btn btn-cancel" value="Cancel" />
    </div>
  </form>
</div>
<div class="black-bg" (click)="close()"></div>
