.row {
  display: flex;
}
.main {
  overflow: hidden;
}

@media (max-width: 1400px) {
  .settings-app {
    display: none;
  }

  .row {
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .main {
    overflow: auto;
  }
}
