.row {
  display: flex;
}
.main {
  overflow: hidden;
  min-height: 100%;
}

@media (max-width: 1400px) {
  .settings-app {
    display: none;
  }

  .row {
    justify-content: space-between;
    gap: 20px;
  }

  .transactions-app {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .main {
    overflow: auto;
  }

  .card-app,
  .transactions-app {
    width: 100%;
  }
}

@media (max-width: 570px) {
  .row {
    margin-bottom: 20px;
    gap: 10px;
  }

  .logo {
    min-width: 100px;
    font-size: 16px;
  }

  .main {
    padding: 30px 0 0;
  }
}
