/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Space Grotesk;
  &::-webkit-scrollbar {
    width: 5px;
    margin-left: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #acacff;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #9393ff;
  }
}
.yellow {
  background-color: #21c206;
  color: #21c206;
}

.red {
  background-color: #ee3f19;
  color: #ee3f19;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 60%;
    height: 60%;
  }
}

.light-blue {
  background: #b9e2e6 !important;
  color: #b9e2e6;
}

.white {
  background-color: #fff;
  color: #fff;
}

.form-field {
  position: relative;
  margin-bottom: 20px;
  width: 100%;

  .label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    pointer-events: none;
    transition: 0.3s ease-out;
    color: #474747;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #333;
    background: #fff;
    padding: 16px 18px;
    font-size: 18px;

    &:focus {
      outline: none;
    }
  }

  .up {
    top: 10px !important;
    font-size: 12px;
    color: #333;
  }

  .invalid {
    color: red !important;
  }

  .btn {
    border-radius: 10px;
    background: #b9e2e6;
    color: #373737;
    font-family: Space Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    padding: 15px 0;
    outline: none;
    border: none;
  }

  .eye {
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.black-bg {
  background: rgba(51, 51, 51, 0.4);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
  z-index: 2;
  display: inline-block;
}

.inactive {
  opacity: 0.3;
}

.help-block {
  color: red;
  font-size: 14px;
  margin-bottom: 20px;
  display: inline-block;
  text-align: left;

  span {
    font-size: 10px;
    display: block;
  }
}
.ng-invalid.ng-touched {
  border-color: red !important;
}
.ng-valid.ng-touched.ng-dirty {
  border-color: #7a7a7a !important;
}
.main {
  background: #eceded;
  padding: 50px 0 0;
  height: auto;
}
.container {
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
}

.row {
  // display: flex;
  gap: 45px;
}

.snack-error.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: red !important;
}
.mat-mdc-snack-bar-container .mdc-snackbar__surface {
  background-color: #21c206 !important;
}
@media (max-width: 570px) {
  .circle {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 400px) {
  .container {
    max-width: 380px;
  }
}
