/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.yellow {
  background-color: #21c206;
  color: #21c206;
}

.red {
  background-color: #ee3f19;
  color: #ee3f19;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.circle {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-blue {
  background: #B9E2E6 !important;
  color: #B9E2E6;
}

.white {
  background-color: #fff;
  color: #fff;
}