$base-color: #373737;
$base-backgroud:#ECEDED;
$app-white:#f9f9f9;
$gray:#ccc;
$app-red:#EE3F19;
$app-gray:#373737;
$app-gray-lighter:#474747;
$app-green:#21C206;
$app-pink:#FF76AE;
$app-pink-lighter:#FECEE2;
$app-blue:#B9E2E6;
$white:#fff;