* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards-page {
  width: 430px;
  font-family: Space Grotesk;
  font-weight: 400;
  font-style: normal;
  line-height: normal;

  .logo {
    color: rgba(0, 0, 0, 1);
    font-family: Alata;
    font-size: 20px;
    margin-bottom: 44px;
    display: inline-block;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 50px;
    overflow: auto;
    max-height: 80vh;
    padding-right: 10px;
    &::-webkit-scrollbar {
      width: 5px;
      margin-left: 10px;
    }
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 10px;
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #acacff; 
      border-radius: 10px;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #9393ff; 
    }
    
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border-radius: 10px;
      background-image: linear-gradient(to right bottom, #f8616a, #ef6cab, #c788dc, #8ba2f3, #53b4ee);
      background-position: -14px;
      background-position: 0;
      box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.25);
      padding: 21px 19px 20px 23px;
      position: relative;
      cursor: pointer;
      opacity: 0.4;
      text-decoration: none;
      
      a {
        color: #fff;
      }
    }

    .active {
      opacity: 1 !important;
    }

    h3 {
      color: #fff;
      font-size: 32px;
      margin-bottom: 17px;
    }

    p {
      color: #f8f8f8;
      font-size: 53px;
    }
    .currency {
      position: absolute;
      width: 90px;
      height: 90px;
      flex-shrink: 0;
      top: 13.3px;
      right: 19px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      color: #d376d7;
      font-size: 64px;
    }
  }
}

.account {
  align-items: center !important;
  flex-direction: row !important;
  opacity: 1 !important;

  gap: 10px;
  p {
    font-size: 30px !important;
  }
}
.add-account {
  color: #fff;
  width: 90px;
  height: 90px;
  border: 3px solid #fff;
  border-radius: 50%;
  text-align: center;

  font-family: Space Grotesk;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
