<div class="container">
  <div class="row">
    <div class="category-info">
      <app-search-field  [dataCategoryOrTransaction]="categories"></app-search-field>
      <div class="categories">
        @if (categories().length > 0) {
          @for (item of categories(); track $index) {
            <div class="category-btn"
            [ngClass]="{
              'expense-btn': item.type === 'expense',
              'income-btn': item.type === 'income'
              }">
              @if (editCategoryId === item._id) {
                <form [formGroup]="createForm" (submit)="onSubmit()">
                  <input type="text" class="btn-title" formControlName="title">
                  <button type="submit" class="btn">
                    <mat-icon>done</mat-icon>
                  </button>
                </form>
              } @else {
                <p class="btn-title">{{item.title}}</p>
                <button class="btn" (click)="editCategory(item)">
                  <mat-icon>edit</mat-icon>
                </button>
              }
              <button class="btn" (click)="deleteCategory(item._id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          }
        } @else {
          <p class="text">You don't have any category please <a routerLink="/main/categories/create-category">add categories</a></p>
        }
      </div>
    </div>
    <div class="category-menu">
      <a routerLink="/categories/create-category" class="card light-blue" >
        <span class="circle white"> + </span>
        <p>Add Category</p>
      </a>
    </div>
  </div>
</div>
