.row {
  display: flex;
  justify-content: space-between;
}

.text {
  font-size: 25px;
  color: #000;
  font-weight: 600;
}

.category-info {
  width: 70%;

  .categories {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 20px;
  }
}
.category-btn {
  display: flex;
  align-items: center;
  border: 1px solid;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;

  .btn-title {
    margin: 0;
    text-transform: capitalize;
    font-size: 20px;
    color: #000;
  }

  .btn {
    border: none;
  }
}
.income-btn {
  border-color: #21c206;
}
.expense-btn {
  border-color: #ee3f19;
}

.category-menu {
  width: 20%;

  .card {
    display: flex;
    align-items: center;
    gap: 7px;

    height: 49px;
    border-radius: 10px;
    background: #f9f9f9;
    padding: 6px 11px 8px;

    span {
      color: #86c9cf;
      font-size: 40px;
    }
    p {
      color: #373737;
      font-family: Space Grotesk;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      margin: 0;
    }
  }
}
@media (max-width: 1100px) {
  .category-info{
    order: 2;
    width: 100%;
  }
  .category-menu {
    width: 100%;
  }
  .row {
    gap: 20px;
    flex-direction: column;
  }
}
@media (max-width: 570px) {

}
