<div class="main">
  <div class="container">
    <app-navbar></app-navbar>
    <div class="row">
      <app-card></app-card>

      <div class="content">
        <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
          <mat-tab label="Categories Statistic">
            <app-range-date></app-range-date>

            <div class="total-expenses">
              <h4>Total Expenses</h4>
              <p>{{ 100.00 }}$</p>
            </div>

            <table>
              <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>% in total</th>
              </tr>
              <tr>
                <td>Food</td>
                <td>25$</td>
                <td>25%</td>
              </tr>
              <tr>
                <td>Education</td>
                <td>30$</td>
                <td>30%</td>
              </tr>
              <tr>
                <td>Transport</td>
                <td>25$</td>
                <td>25%</td>
              </tr>
            </table>
          </mat-tab>
          <mat-tab label="Monthly Statistic">
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
